@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================== TAILWIND STYLES */
@layer base {
  :root {
    background: #09111f;
    color: #fff;
    margin: 0;
    --secondary: 216 41.3% 18.1%;
    --radius: 0.5rem;
    --border: 216 41.3% 18.1%;
    --foreground: 0 0% 98%;
    --card: 216 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 216 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 216 5.9% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 216 41.3% 18.1%;
    --muted-foreground: 216 45% 80%;
    --accent: 216 41.3% 18.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 216 41.3% 18.1%;

    --green-create-button: #237804;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2e3d5b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }
}

@layer utilities {
  
}

.info-container {
  background-color: #080e18;
}

.bg-default {
  background: #09111f
}

html {
  color-scheme: dark;
}